@charset 'utf-8';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font: 14px Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100%;
  position: relative;
}

.tweets-list {
  background: #E1E3EF;
  bottom: 20px;
  left: 20px;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  padding: 100px 20px 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.tweets-list:before {
  background: #7681FD;
  color: #E1E3EF;
  content: 'Tweet Stream #wordcampsp';
  display: block;
  font-size: 30px;
  height: 80px;
  left: 0;
  line-height: 80px;
  margin: 0 0 20px;
  padding: 0 20px;
  position: absolute;
  top: 0;
  width: 100%;
}

.tweets-list:after {
  background: inherit;
  bottom: 0;
  content: '';
  height: 40px;
  position: absolute;
  left: 0;
  width: 100%;
}

.tweets-list__item {
  align-items: center;
  color: #555;
  display: flex;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0;
}

.tweets-list__item:after {
  display: table;
  content: '';
  clear: both;
}

.tweets-list__item img {
  border-radius: 100%;
  float: left;
  margin: 0 10px 10px 0;
}

.tweets-list__item a {
  color: #726EF7;
}

.tweets-list__item a:hover {
  color: #3E4CA0;
}
